@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

/* Global reset to prevent weird width/scroll issues */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 10;
  padding: 10;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: #F9F8F6;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;  /* semi-bold for elegance */
  letter-spacing: 0.03em; /* subtle spacing */
}
